Repository WyriHaximus/php-compress, pull requests merged in 2020-12, with the labels that each got.

#71 moves phpunit/phpunit from'required' to 'required-dev'
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘

#72 Use interface from contracts package
  composer.json
  composer.lock
  src/CompressorInterface.php
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘, Source 🔮

#73 No fast failing on CI
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#74 Use test utilities from extracted package
  composer.json
  composer.lock
  src/AbstractCompressorTest.php
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘, Source 🔮
